language: objective-c
osx_image: xcode10
xcode_project: ModelAssistant.xcodeproj
xcode_scheme: ModelAssistant iOS
branches:
  only:
    - master
env:
  global:
  - PROJECT="$PROJECTNAME.xcodeproj"
  - IOS_FRAMEWORK_SCHEME="$PROJECTNAME iOS"
  - TEST_FRAMEWORK_SCHEME="$PROJECTNAME iOS Tests"
  - IOS_SDK=iphonesimulator
  matrix:
  - DESTINATION="OS=11.4,name=iPhone X"          SCHEME="$IOS_FRAMEWORK_SCHEME"      RUN_TESTS="YES"  POD_LINT="NO"
  - DESTINATION="OS=10.3.1,name=iPhone 7 Plus"   SCHEME="$IOS_FRAMEWORK_SCHEME"      RUN_TESTS="YES"  POD_LINT="NO"
  - DESTINATION="OS=9.3,name=iPhone 6"           SCHEME="$IOS_FRAMEWORK_SCHEME"      RUN_TESTS="YES" POD_LINT="NO"
